.form-container {
    width: 600px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    display: grid;
    grid-template-rows: repeat(6,60px);
    grid-gap: 10px;
    padding: 20px;
    position: relative;
  }

  .label-container {
    display: flex;
    align-items: center;
  }

  label {
    display: block;
    margin-bottom: 3px;
    margin-left: 2px;
  }

  input[type='date'],
  input[type='text'],
  input[type='email'],
  input[type='tel'],
  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 24px;
    width: 400px;
    height: 45px;
    background-color: #EDEFEE;
    color: #495E57;
  }
  
  .submit {
    padding: 10px 20px;
    background-color:#EDEFEE;
    color: black;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    margin-top: 50px;
    align-items: center;
    justify-self: center;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit:hover {
    background-color: #495E57;
    color: white;
  }

  .time-container{
    position: absolute;
    top: 180px;
    left: 0;
  }
  
  .guest-container{
    position: absolute;
    top: 110px;
    left: 0;
  }
  .occasion-container{
    position: absolute;
    top: 565px;
    left: 0;
  }


