*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-item-card {
    display: flex;
    flex-direction: column;
    width: 265px;
    height: 430px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

.item-img{
    width: 265px;
    margin-left:20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.item-details {
    width: 265px;
    height: 254px;
    margin-left: 20px;
    background-color: #EDEFEE;
    position: relative;
}

.item-name{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 24px;
}

.item-price {
    position: absolute;
    top:-7px;
    color: #EE9972;
    font-weight: bold;
}

.item-description {
    color:black;
    position: absolute;
    left: -160px;
    font-size: 18px;
    text-align: justify;

}

.order-btn {
    display: flex;
    background-color: #EDEFEE;
    color: black;
    border: none;
    padding: 10px 35px;
    font-size: 1rem;
    margin-top: 5px;
    cursor: pointer;
    align-items:center;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    left: 25px;
  }
  .order-btn img {
    margin-left: 5px;
    width: 20px;
  }












